@import "tailwindcss";

button {
  @apply cursor-pointer;
}

.bg-gradient {
  background: #006a67;
  background: linear-gradient(
    360deg,
    rgba(0, 106, 103, 1) 7%,
    rgba(255, 244, 183, 1) 94%
  );
}

@theme {
  --color-primary-black: #202020;
  --color-primary-blue: #0f828c;
}
